.window {
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
  position: absolute;
  background-color: #252525;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #a0a0a0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
}

.container {
  text-align: center;
}

.form {
}

.formGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.formLabel {
  padding-right: 15px;
}

.input {
  background-color: #333;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
  padding: 6px 12px;
  height: 20px;
  width: 250px;
  color: white;
  font-size: 14px;
}

.input:focus {
  outline: none;
  background-color: #444;
}

.input:disabled {
  opacity: .7;
  cursor: not-allowed;
}

.selectBox {
  position: relative;
  height: 34px;
  font-size: 14px;
  border-radius: 4px;
}

.selectBox:after {
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;

  width: 0;
  height: 0;
  margin: auto;

  content: '';

  border-top: 4px solid #999;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.select {
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 6px 36px 6px 24px;
  border-radius: 4px;
}

.disabledCheckbox {
  cursor: not-allowed;
}

.button {
  outline: none;
  margin-top: 10px;
  border-radius: 16px;
  padding: 8px 36px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #ffa350;
  transition-duration: .1s;
}

.button:hover {
  outline: none;
  background-color: #ffb26c;
  -webkit-transform: scale(1.1);
}
