.headerWrapper {
  position: fixed;
  top: 50px;
}

.header {
  display: flex;
  width: 500px;
  overflow: scroll;
}

.separator {
  cursor: col-resize;
  margin: 0;
  width: 10px;
  border-width: 0;
  background: #e5e5e5;
  flex: 0 0 auto;
}

.headerCell {
  border-right-width: 1px;
  border-color: #c5c5c5;
  border-right-style: solid;
  background: #e5e5e5;
  color: #16315f;
  padding: 3px 5px;
  flex: 0 0 auto;
  white-space: nowrap;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.room {
  display: flex;
  align-items: center;
  color: white;
  padding: 3px 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  flex: 0 0 auto;
}

.text {
  color: white;
  padding: 3px 5px;
  box-sizing: border-box;
  word-break: break-word;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  flex: 0 0 auto;
}

.user {
  display: flex;
  align-items: center;
  color: white;
  padding: 3px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  flex: 0 0 auto;
}

.id {
  font-size: 10px;
  margin-right: 5px;
  padding: 3px;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  text-align: center;
  background: #23cf21;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}
