.container {
  width: 150px;
  min-width: 150px;
  background: #0F0F0F;
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
  color: #808080;
  padding: 20px;
  cursor: default;
  font-size: 15px;
}

.menu {
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  margin: 5px 0;
}

.menu:hover {
  height: 26px;
  line-height: 26px;
  color: white;
  margin: 5px 0;
}

.menuHeader {
  height: 26px;
  line-height: 26px;
  margin: 5px 0;
}

.selectedMenu {
  font-weight: bold;
  position: relative;
  height: 26px;
  line-height: 26px;
  color: white;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.list {
  padding-left: 10px;
  list-style: none;
  margin: 0 5px;
  position: relative;
}

.item {
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 0;
}

.item:hover {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 0;
}

.selectedItem {
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.menuBorder {
  height: 20px;
  line-height: 20px;
  color: white;
  border-left: 4px solid #ffa350;
  position: absolute;
  left: -13%;
  padding-left: 20px;
}

.itemBorder {
  height: 20px;
  line-height: 20px;
  color: white;
  border-left: 4px solid #ffa350;
  position: absolute;
  left: -16%;
  padding-left: 20px;
}
