.container {
  width: 150px;
  min-width: 150px;
  background: #0F0F0F;
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
  color: #808080;
  padding: 20px;
  cursor: default;
}

.list {
  padding-left: 10px;
  list-style: none;
  margin-top: 5px;
  position: relative;
}

.item:hover {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.selectedItem {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.border {
  height: 26px;
  color: white;
  border-left: 5px solid #ffa350;
  position: absolute;
  left: -10%;
  padding-left: 20px;
}

.selectedItem:before {
  width: 20px;
}
