.webviewHeader {
  position: fixed;
  right: 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  border-bottom: 1px solid;
  border-color: #424242;
  background-color: #252525;
}

.iconsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
}

.countContainer {
  margin-right: 10px;
}

.tagsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 3px 0;
  padding-left: 5px;
}

.button {
  margin-right: 10px;
  transition-duration: .1s;
}

.button:hover {
  color: #ffa350;
  -webkit-transform: scale(1.1);
}

.fill {
  color: #ffa350;
}

.icon {
  margin-right: 3px;
}

.tag {
  margin: 0 5px;
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
  cursor: pointer;
}

.tag:hover {
  opacity: .7;
  text-decoration: underline;
}

.title {
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
}

.expandedDescription {
  color: #dcdcdc;
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
  padding: 0 5px;
  overflow: scroll;
  max-height: 200px;
  line-height: 1.5;
}

.description {
  color: #838383;
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
  padding: 0 5px;
  overflow: hidden;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.expand {
  padding-top: 5px;
  margin: 0 auto;
  font-family: YuGothic, Avenir, Helvetica, Meiryo;
  cursor: pointer;
}
